<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title.title }}</title>
</head>
<body>
<h1>{{ header }}</h1>
<p>{{ username }}</p>
{% for product in products %}
    <h4>{{ product.name }}</h4>
    <h4>{{ product.price }}</h4>
{% endfor %}

{% if products_of_promotion %}
    <h1 style="color: red">Товары по акции: </h1>
{% for product in products_of_promotion %}
    <h4 style="color: yellowgreen">{{ product.name }}</h4>
    <h4 style="color: yellowgreen">{{ product.price }}</h4>
{% endfor %}
{% endif %}
</body>
</html>